body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color:lavender;
    font-family: 'Cabin', sans-serif;
}

.background {
    position: fixed;
    top: 0;
    background-image: url('./IMG_0970.jpg');

    /* Full height */
    height: 100%; 
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.allTheShit {
    width: 100%;
    min-height: 75%;
    background-color: rgba(230,230,250,0.7);
    padding-top: 5em;
    margin-top: 4em;
    text-align: center;
}

.title {
    font-family: 'Lobster', cursive;
    color: indigo;
}

ul li {
    list-style: none;
}

.touchArea {
    font-size: 20px;
}

.touchArea button {
    padding: 20px;
    background-color: indigo;
    color: lavender;
    cursor: pointer;
    font-style: inherit;
    text-transform: uppercase;
}

.touchArea button:hover {
    background-color: lavender;
    color: indigo;
}

.killButton button {
    margin-top: 12em;
    background-color: #ee5f1f;
}